<div>
  <% @output.each do |output| %>
  <div>
    <h3> Name: <%= link_to "#{output[:balance].name}", balance_path(output[:balance]) %>  </h3>
    <p> <b>With user:</b> <%= output[:partner].username %> </p>
    <p> <b>Status:</b> <%= "#{output[:status][:message]} #{output[:status][:value]}" %> </p>
  </div>
  <hr class="my-4">
  <% end %>
</div>