
<div>
  <% @response.each do |response| %>
  <div>
    <h3> Name: <%= link_to "#{response[:balance].name}", balance_path(response[:balance]) %>  </h3>
    <p> ID: <%= response[:balance].id %> </p>
    <%  %>
    <p> With user: <%= response[:partner].username %> </p>
    <p> Status: <%# situation(current_user_balance) %> </p>
  </div>
  <hr class="my-4">
  <% end %>
</div>