
<div>
  <% @output.each do |output| %>
  <div>
    <h3> Name: <%= link_to "#{output[:balance].name}", balance_path(output[:balance]) %>  </h3>
    <p> With user: <%= output[:partner].username %> </p>
    <p> Status: <%# situation(current_user_balance) %> </p>
  </div>
  <hr class="my-4">
  <% end %>
</div>