<h2>Balance <i><%= @balance.name %></i></h2><br>

<div>
  <p> <b>With user:</b> <%= @balance_partner.username %> </p>
  <p> <b><%= "#{@balance_status[:message]}" %></b> <%= "#{@balance_status[:value]}" %> </p>
</div>
<hr class="my-4">
<div>
  <h3>Balance History:</h3>
  <% @transactions.each do |transaction| %>
    <div>
      
    </div>  
  <% end %>
</div>
