<div>
  <h2>Your Balance: <%= @balance.name %> </h2>
  <p>With user:
    <%= if @balance.owner_id = current_user.id
          User.find(@balance.added_user_id).username
        else
          User.find(@balance.owner_id).username
        end %> </p>
</div>
<div>
  <h2>Status:
    <%= if @balance.owner_id = current_user.id
          if @balance.value>0
           "You lended"
          elsif @balance.value<0
            "You owe"
          else
            "You are even!"
          end
        else
          if @balance.value>0
            "You owe"
          elsif @balance.value<0
            "You lended"
          else
            "You are even!"
          end
        end %>
        <%= @balance.value %> </h2>
</div>
