  <h1 class="display-4">Even</h1>
  <p class="lead"><b>To stay even with your friends.</b></p>
  <hr class="my-4">
  <p class="lead">Have ever forgotten <b>'how much was it'</b>? Here you can simply create <b>balances</b> with other Users. That allows you to add <b>transactions</b> on the go. In each transaction you can specify how much you lended or borrowed. Users can create unlimited number of balances with the same friend. Each transaction must be <b>confirmed</b> by the other fellow before it gets added to the balance, but when confirmed - it cannot be modified/deleted, so act with great care! Each balance can be deleted when its status is <b>Even</b>. Transactions become deleted together with the balance they correspond to. Users can remove others form their friends list, but only when the overall status with them is <b>Even</b>.</p>
    <%= link_to "Log in", new_user_session_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
