// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

#bootstrap-overrides {
  
  .dropdown-menu {
    border-top-left-radius: 3px;
  }
  .jumbotron {
    border-top-left-radius: 0;

    .btn-primary {
      background-color: #17a2b8;
      border-color: #17a2b8;
      color: #fff;
    }

    .btn {
      color: #fff;

      &-warning {
        color: black;
      }
    }
    
    a {
      color: #17a2b8;
    }
  }
  .nav-link{
    color: #17a2b8;
  
    &.active {
      background-color: #e9ecef;
      border-bottom: 0;
      border-color: #dee2e6;
    }
  }
  .nav-tabs {
    border-bottom: 0;
  }
  .pull-right {
    margin-left: auto; 
  }
  .btn-green {
    background-color: #4CAF50;
    border-color: #4CAF50 ;
  } 
  .btn-red {
    background-color: red;
    border-color: red ;
  } 
  .btn-orange {
    background-color: orange;
    border-color: orange ;
  }
  .lead {
    text-align: justify;
  }
}
