// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "gritter";

#bootstrap-overrides {
  .jumbotron {
    border-top-left-radius: 0;
  }
  .nav-link.active {
    background-color: #e9ecef;
    border-bottom: 0;
    border-color: #dee2e6;
  }
  .nav-tabs {
    border-bottom: 0;
  }
  .pull-right {
    margin-left: auto; 
  } 
  .dropdown-menu {
    border-top-left-radius: 3px;
  }
}